body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.accio {
    width: 150px;
    height: 150px;
    background-color: #000000;
}

.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}